@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  min-height: 6rem;
  outline: none;
  cursor: text;
}

.tiptap p {
  margin: 0.25rem 0;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1.25rem;
  margin: 0.25rem 0;
}

.tiptap ul:not([data-type="taskList"]) {
  list-style-type: disc;
  list-style-position: inside;
}

.tiptap ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.tiptap ul:not([data-type="taskList"]) li,
.tiptap ol li {
  margin: 0;
}

.tiptap ul:not([data-type="taskList"]) li p,
.tiptap ol li p {
  display: inline;
  margin: 0;
}

.tiptap ul[data-type="taskList"] {
  list-style: none;
  padding-left: 0;
}

.tiptap ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.tiptap ul[data-type="taskList"] li > label {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  margin-top: 0.25rem;
}

